<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noddin.hscardsgetter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Heathstone Cards"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllCards_Activity" />
        <activity android:name=".SeekCards_Activity" />
        <activity android:name=".SortCards_Activity" />
        <activity android:name=".ExpectedActivity" />

        <service
            android:name=".GetCardsServices"
            android:exported="false" />

    </application>

</manifest>